#page {
	margin: auto;
	float: none;
}

label {
  width: 150px;
  display: inline-block;
}
#greeting{
	margin: 0 auto;
	text-align: center;
}
#listOne{
	text-align: center;
}
fieldset {
  width: 400px;
  margin: auto;
}

div {
  background-color: green;
  overflow: hidden;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
  color: white;
}